################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Catalogo/.vs/Catalogo/FileContentIndex
/Catalogo/.vs/Catalogo/v17
/Catalogo/.vs/Catalogo/DesignTimeBuild
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.AssemblyInfoInputs.cache
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.AssemblyInfo.cs
/Catalogo/Catalogo.API/obj/Debug/net8.0/ref/Catalogo.API.dll
/Catalogo/Catalogo.API/obj/Debug/net8.0/refint/Catalogo.API.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.API.deps.json
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.API.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.API.exe
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.API.pdb
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.Application.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.Application.pdb
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.CrossCuttling.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.CrossCuttling.pdb
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.Domain.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.Domain.pdb
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.Infrastructure.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.Infrastructure.pdb
/Catalogo/Catalogo.API/obj/Debug/net8.0/apphost.exe
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.AssemblyInfo.cs
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.AssemblyInfoInputs.cache
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.csproj.AssemblyReference.cache
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.csproj.CoreCompileInputs.cache
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.csproj.FileListAbsolute.txt
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.dll
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.pdb
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.sourcelink.json
/Catalogo/Catalogo.Application/bin/Debug/net8.0/Catalogo.Application.deps.json
/Catalogo/Catalogo.Application/bin/Debug/net8.0/Catalogo.Application.dll
/Catalogo/Catalogo.Application/bin/Debug/net8.0/Catalogo.Application.pdb
/Catalogo/Catalogo.Application/bin/Debug/net8.0/Catalogo.Domain.dll
/Catalogo/Catalogo.Application/bin/Debug/net8.0/Catalogo.Domain.pdb
/Catalogo/Catalogo.Application/obj/Debug/net8.0/ref/Catalogo.Application.dll
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.AssemblyInfo.cs
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.AssemblyInfoInputs.cache
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.csproj.AssemblyReference.cache
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.csproj.CopyComplete
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.csproj.CoreCompileInputs.cache
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.csproj.FileListAbsolute.txt
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.dll
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.pdb
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.sourcelink.json
/Catalogo/Catalogo.Application/obj/Debug/net8.0/refint/Catalogo.Application.dll
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.Application.dll
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.Application.pdb
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.CrossCuttling.deps.json
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.CrossCuttling.dll
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.CrossCuttling.pdb
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.Domain.dll
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.Domain.pdb
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.Infrastructure.dll
/Catalogo/Catalogo.CrossCuttling/bin/Debug/net8.0/Catalogo.Infrastructure.pdb
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/ref/Catalogo.CrossCuttling.dll
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/refint/Catalogo.CrossCuttling.dll
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.AssemblyInfo.cs
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.AssemblyInfoInputs.cache
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.csproj.AssemblyReference.cache
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.csproj.CopyComplete
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.csproj.CoreCompileInputs.cache
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.csproj.FileListAbsolute.txt
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.dll
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.pdb
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.sourcelink.json
/Catalogo/Catalogo.Domain/bin/Debug/net8.0/Catalogo.Domain.dll
/Catalogo/Catalogo.Domain/bin/Debug/net8.0/Catalogo.Domain.pdb
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/ref/Catalogo.Domain.dll
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/refint/Catalogo.Domain.dll
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.csproj.CoreCompileInputs.cache
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.dll
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.pdb
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.sourcelink.json
/Catalogo/Catalogo.Infrastructure/bin/Debug/net8.0/Catalogo.Domain.dll
/Catalogo/Catalogo.Infrastructure/bin/Debug/net8.0/Catalogo.Domain.pdb
/Catalogo/Catalogo.Infrastructure/bin/Debug/net8.0/Catalogo.Infrastructure.deps.json
/Catalogo/Catalogo.Infrastructure/bin/Debug/net8.0/Catalogo.Infrastructure.dll
/Catalogo/Catalogo.Infrastructure/bin/Debug/net8.0/Catalogo.Infrastructure.pdb
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/ref/Catalogo.Infrastructure.dll
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.AssemblyInfo.cs
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.AssemblyInfoInputs.cache
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.csproj.AssemblyReference.cache
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.csproj.CopyComplete
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.csproj.CoreCompileInputs.cache
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.csproj.FileListAbsolute.txt
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.dll
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.pdb
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.sourcelink.json
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/refint/Catalogo.Infrastructure.dll
/Catalogo/Catalogo.API/obj/project.nuget.cache
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.assets.cache
/Catalogo/Catalogo.API/obj/Catalogo.API.csproj.nuget.dgspec.json
/Catalogo/Catalogo.API/obj/project.assets.json
/Catalogo/Catalogo.Application/obj/Debug/net8.0/Catalogo.Application.assets.cache
/Catalogo/Catalogo.Application/obj/Catalogo.Application.csproj.nuget.dgspec.json
/Catalogo/Catalogo.Application/obj/project.assets.json
/Catalogo/Catalogo.Application/obj/project.nuget.cache
/Catalogo/Catalogo.CrossCuttling/obj/Debug/net8.0/Catalogo.CrossCuttling.assets.cache
/Catalogo/Catalogo.CrossCuttling/obj/Catalogo.CrossCuttling.csproj.nuget.dgspec.json
/Catalogo/Catalogo.CrossCuttling/obj/project.nuget.cache
/Catalogo/Catalogo.CrossCuttling/obj/project.assets.json
/Catalogo/Catalogo.CrossCuttling/obj/Catalogo.CrossCuttling.csproj.nuget.g.targets
/Catalogo/Catalogo.CrossCuttling/obj/Catalogo.CrossCuttling.csproj.nuget.g.props
/Catalogo/Catalogo.API/obj/Catalogo.API.csproj.nuget.g.props
/Catalogo/Catalogo.API/obj/Catalogo.API.csproj.nuget.g.targets
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.assets.cache
/Catalogo/Catalogo.Infrastructure/obj/Catalogo.Infrastructure.csproj.nuget.dgspec.json
/Catalogo/Catalogo.Infrastructure/obj/Catalogo.Infrastructure.csproj.nuget.g.props
/Catalogo/Catalogo.Infrastructure/obj/Catalogo.Infrastructure.csproj.nuget.g.targets
/Catalogo/Catalogo.Infrastructure/obj/project.assets.json
/Catalogo/Catalogo.Infrastructure/obj/project.nuget.cache
/Catalogo/Catalogo.API/bin/Debug/net8.0/AutoMapper.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Catalogo.API.runtimeconfig.json
/Catalogo/Catalogo.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Npgsql.dll
/Catalogo/Catalogo.API/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/Catalogo/Catalogo.API/obj/Debug/net8.0/Catalogo.API.genruntimeconfig.cache
/Catalogo/Catalogo.Infrastructure/obj/Debug/net8.0/Catalogo.Infrastructure.genruntimeconfig.cache
/Catalogo/Catalogo.Infrastructure/bin/Debug/net8.0/Catalogo.Infrastructure.runtimeconfig.json
/Catalogo/.vs/ProjectEvaluation/catalogo.metadata.v7.bin
/Catalogo/.vs/ProjectEvaluation/catalogo.projects.v7.bin
/Catalogo/Catalogo.API/Catalogo.API.csproj.user
/Catalogo/Catalogo.API/Catalogo.API.csproj.user
