################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Catalogo/.vs/Catalogo/FileContentIndex
/Catalogo/.vs/Catalogo/v17
/Catalogo/.vs/Catalogo/DesignTimeBuild
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.AssemblyInfoInputs.cache
/Catalogo/Catalogo.Domain/obj/Debug/net8.0/Catalogo.Domain.AssemblyInfo.cs
