################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Catalogo/.vs/Catalogo/FileContentIndex
/Catalogo/.vs/Catalogo/v17
/Catalogo/.vs/Catalogo/DesignTimeBuild
